.popup-pic {
  height: 100%;
  width: 100%;
}

.popup-pic-container {
  height: 300px;
  width: 200px;
  margin-right: 5%;
}

.popup-container {
  display: flex;
  flex-direction: row;
}

.popup-text {
  width: 80%;
  height: 20%;
}

.popup-text p {
  font-size: 18px;
}
