@media only screen and (min-width: 768px) {
  .popup-pic {
    height: 100%;
    width: 100%;
  }

  .popup-pic-container {
    height: 26%;
    width: 16%;
    margin-top: 2.5%;
  }

  .popup-container {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 16%;
  }

  .popup-text {
    width: 80%;
    height: 20%;
    margin-left: -6%;
  }

  .popup-text p {
    // font-size: 14px;
  }
  .popup-text h6 {
  margin-left: 30%;
  }
}
@media only screen and (max-width: 768px) {
  .popup-pic {
    height: 100%;
    width: 100%;
  }

  .popup-pic-container {
    height: 60%;
    width: 50%;
    margin-top: 0.5%;
    margin-left: 13%
  }

  .popup-container {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 4%;
    margin-right: -20%;
  }

  .popup-text {
    width: 80%;
    height: 20%;
  }

  .popup-text p {
    font-size: 14px;
  }
  .popup-text h6 {
  }
}
